:root {
  --font-size: 16px;
  --font-family: "Noto Sans KR", "Malgun Gothic", system-ui, sans-serif;
  --font-mono: "Consolas", monospace;

  --background: #ffffff;
  --foreground: #18242c;
  --card: #ffffff;
  --card-foreground: #18242c;
  --muted: #ffffff;
  --muted-foreground: #60717d;
  --border: #cfe0eb;
  --ring: #036eb8;
  --sidebar: #f3f4f6;
  --sidebar-foreground: #18242c;
  --sidebar-border: #d6d9dd;
  --brand-green: #036eb8;
  --brand-green-light: #ffffff;
  --brand-green-dark: #02558e;
  --brand-red: #e52d1f;
  --brand-red-light: #ffffff;
  --brand-red-dark: #ad2117;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    font-size: var(--font-size);
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family);
  }
}
